.my-navbar {
    background-color: #ffffff;
    height: 10%;
    /* padding-top: 2%; */
    position: relative;
}


/* Optional: Add more styles to navbar elements */


/* .my-navbar a {
    color: black;
    text-decoration: none;
} */


/* Hover effect */

.my-navbar .navbar-brand {
    color: white !important;
}

.my-navbar .nav-link {
    color: white !important;
}

.my-navbar .dropdown-menu {
    background-color: rgba(255, 255, 255, 1) !important;
    right: 0 !important;
    left: auto !important;
    width: max-content;
    margin-top: 0 !important;
}

.my-navbar .dropdown-item {
    color: black !important;
}

.my-navbar .dropdown:hover {
    background-color: #f8a92c !important;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.my-navbar .dropdown-item:hover {
    background-color: #f8a92c !important;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.my-navbar .dropdown-toggle {
    color: rgb(0, 0, 0) !important;
}

.my-navbar .dropdown-menu {
    right: 0 !important;
}

.my-navbar .ml-auto .btn-primary {
    margin-left: 10px;
}

.pinkSec {
    background-color: #fddddd;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ApplyLink {
    color: red;
}

.navbar-expand-lg {
    justify-content: space-between !important;
}

.button-login {
    margin-right: 20px;
}